*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Mushroom[[:space:]]Disease[[:space:]]Dataset[[:space:]](Healthy,[[:space:]]Single[[:space:]]Infected)/** filter=lfs diff=lfs merge=lfs -text